.container{
    margin-top: 5vw;
}
.nav-tabs>li>a{
    color: #bd2130!important;
    letter-spacing: .1vw;
    font-weight: 900;
}
button{
 background-color: #bd2130;
    padding: 1vw;
    border-color: black;
}
#org1-img{
    width: 20vw;
    border-radius: 100%;
}
#org2-img{
    width: 20vw;
    border-radius: 100%;
}
.loading{

    margin-left: 41vw;
    width:20vw

}


@media only screen and (max-width: 767px)

{
    #org1-img{
        width: 40vw;
    }
    #org2-img{
        width: 40vw;
    }
    .nav-tabs{
        margin-top: 6vw ;
    }
    .loading{
        margin-left: 25vw;
        width:50vw

    }


}