body {
	margin: 0;
	/*overflow: hidden;*/
	width:100%;
}

canvas {
	/*background-image: radial-gradient(#666, #333);*/
	width:100vw;
}

#overlay
{
	height: 100vh;
	width: 100vw;
	background-color: white;
	margin: 0px 0px ;
	transition: transform 0.5s ;
	position: fixed;
	z-index: 1000000;
}



#counter
{
	
	color: black;
	text-align: center;
	margin:calc(50vh - 20px) auto;
	font-family: sans-serif;
	font-size: 2em;

}

     /*============================================*/
     /* Basic structure style*/
     /*============================================*/
     body{
      font-family: 'Montserrat', sans-serif;
     }
      .container{
        max-width: 1000px;
        display: flex;
        flex-wrap: wrap;
        margin: auto;
      }
      .abt_quote{
        
        width: 100%;
        height: 100px;
      }

      .abt_about{
        
        width: 550px;
        height: 350px;
      }
      .abt_picture{
       
        width: 450px;
        height: 350px;
      }
      .abt_count{
       
        width: 700px;
        height: 200px;
      }
      .abt_watch{
       
        width: 300px;
        height: 200px;
      }
      .abt_video_group{
        background: rgb(144,61,142);
        background: linear-gradient(138deg, rgba(144,61,142,1) 0%, rgba(219,99,130,1) 100%);
        justify-content: space-around;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        border-radius: 10px;
          color: white;
          box-shadow: 0px 11px 30px rgba(0, 0, 0, 0.438);
          padding:50px;
          font-family: 'Montserrat', sans-serif;
      }
        .abt_video{
          width: 400px;
          
        }
        .abt_history{
          width: 400px;
          
        }
      .abt_end{
       
        width: 500px;
        height: 250px;
        padding-top: 30px;
      }
      .footer{
        background-color: black;
        height: 40px;
        width: 100%;
        color: white;
        text-align: center;
      }

    

     /*============================================*/
     /* Individual element style*/
     /*============================================*/
      p{
        font-size: 1em;
            line-height: 25px;
      }
      /*================================*/
      .abt_quote{
        text-align: center;
      }
      .quote_text{
        font-size: 1.5em;
      }
      .abt_coln{
        color: purple;
        font-size: 2em;
      }
      /*================================*/
      /*ABOUT*/
      /*===============================================================*/

      .about
        {
            background: rgb(144,61,142);
            background: linear-gradient(138deg, rgba(144,61,142,1) 0%, rgba(219,99,130,1) 100%);
            padding: 10px;
            border-radius: 10px;
            box-shadow: 0px 11px 30px rgba(0, 0, 0, 0.438);
            font-family: 'Montserrat', sans-serif;
        }
        .abthead
        {
            padding-top: 10px;
            color: white;
        }
        .abtpara
        {
            padding-left: 10px;
            color: white;
        }

        /*=======================================================*/
        /*dotted rectangle*/
        /*===============================================================*/

         .rectangle
        {
            display: flex;
            justify-content: space-around;
            width: auto;
            border-color: rgba(219,99,130,1);
            border-style: dashed;
            border-radius: 15px;
            color: rgb(209, 107, 133);
            font-family: 'Montserrat', sans-serif;
        }
        .inline p
        {
            
            align-content: center;
            align-items: center;  
        }.inline h1
        {
            
            transform: translateX();
            
            
        }
        .inline{
           
            width: 100px;
            margin: 10px;
            padding: 10px;
            box-sizing: border-box;
        }

        /*================================================================*/
        /*slide-show and animation*/
        /*===============================================================*/

         #slideshow {
          overflow: hidden;
          height: 300px;
          width: 400px;
          margin-left: auto;
          border-radius: 10px;
          box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.336);
        }
        
        .slide-wrapper {
          width: 400%;
          -webkit-animation: slide 10s ease infinite;
        }
        
        .slide {
          float: left;
          height: 300px;
          width: 25%;
        }
        .slide img{
          width: 100%;
          height: 100%;
        }
        
        .slide:nth-child(1) {
          background: #D93B65;
        }
        
        .slide:nth-child(2) {
          background: #037E8C;
        }
        
        .slide:nth-child(3) {
          background: #36BF66;
        }
        
        .slide:nth-child(4) {
          background: #D9D055;
        }
        
        .slide-number {
          color: #000;
          text-align: center;
          font-size: 10em;
        }
        
        @-webkit-keyframes slide {
          20% {margin-left: 0px;}
          30% {margin-left: -100%;}
          50% {margin-left: -100%;}
          60% {margin-left: -200%;}
          70% {margin-left: -200%;}
          80% {margin-left: -300%;}
          90% {margin-left: -300%;}
        }


        /*===============================================================*/
        /*video*/
        /*===============================================================*/
        .frame
        {
           
            height: 250px; 
            width: 300px;
            border-radius: 10px;
            box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.336);

        }
        /*===================================================================*/
        /*insta visit*/
        /*===================================================================*/
        .watch_insta{
          width: 250px;
          height: 150px;
          background: linear-gradient(138deg, rgba(144,61,142,1) 0%, rgba(219,99,130,1) 100%);
          box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.336);
          border-radius: 10px;
          margin-left: auto;

        }
        .insta_link{
          margin: auto;
          width: 50px;
          transform: translateY(50px);

        }
        .insta_link img{
          width: 50px;
        }
        /*===================================================================*/
        /*end section*/
        /*===================================================================*/

        .abt_end_p{
          /*box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.336);*/
          border-radius: 10px;
          padding: 20px;
        }

        /*-------------------------------------*/
        /*===================================================================*/
        /*Bounce animation*/
        /*===================================================================*/
        .arrow_down{
          margin: auto;
          height: 20px;
          width: 20px;
        }
        .arrow_down img{
          width: 100%;
        }

    .bounce {
      -moz-animation: bounce 2s infinite;
      -webkit-animation: bounce 2s infinite;
      animation: bounce 2s infinite;
    }
    
    @keyframes bounce {
      0%, 20%, 50%, 80%, 100% {
        transform: translateY(-100px);
      }
      40% {
        transform: translateY(-130px);
      }
      60% {
        transform: translateY(-115px);
      }
    }



 /*============================================*/
     /* Media query*/
     /*============================================*/
     @media screen and (max-width: 1000px){
      .abt_quote{
      
        width:500px;
        margin: auto;
      }

      .abt_about{
       
        width: 100%;
      }
      .abt_picture{
        
        width: 100%;
        height: 300px;
      }
      .abt_count{
       
        width: 100%;
        height: 200px;

      }
      .abt_watch{
        display: none;
      }
      .abt_video_group{
        background:white;
        width: 100%;
        box-shadow: none;
        padding: 0px;
      }
        .abt_video{
          width: 500px;
         
          margin: auto;
        }
        .abt_history{
          width: 100%;
         
         
        }
      .abt_end{
        
        width: 100%;
        
      }

      /* ---------------------------- */
      .about
        {
            max-width: 500px;
            margin: auto;
        }
        #slideshow {
          margin: auto;
          width: 500px;
        }
        .rectangle{
          max-width: 500px;
          margin: auto;
          margin-top: 30px;
        }
        .frame{
          width: 500px;
        }

        .abt_end_p{
          background: rgb(144,61,142);
          background: linear-gradient(138deg, rgba(144,61,142,1) 0%, rgba(219,99,130,1) 100%);
          box-shadow: 0px 11px 30px rgba(0, 0, 0, 0.438);
          color:white;
          max-width: 500px;
          margin: auto;
        }
        .abt_history p{
          background: rgb(144,61,142);
          background: linear-gradient(138deg, rgba(144,61,142,1) 0%, rgba(219,99,130,1) 100%);
          box-shadow: 0px 11px 30px rgba(0, 0, 0, 0.438);
          border-radius: 10px;
          padding: 10px;
          max-width: 500px;
          margin: auto;
          margin-top: 10px;
        }
        .footer{
          /*display: none;*/
          border-radius: 0px;
          background-color: white;
          color: black;

        }
      /* ---------------------------- */
     }



      @media screen and (max-width: 500px){
      .abt_quote{
        
        margin: auto;
        margin-bottom: 40px;
      }

      .abt_about{
       
        width: 100%;
        height: unset;
        margin: 10px;
        margin-bottom: 40px;
      }
      .abt_picture{

        width: 100%;
        height: 300px;
        margin-bottom: 40px;
      }
      .abt_count{
        height: unset;
        width: 100%;
        margin:30px;
      }
      .abt_count p{
        font-size: 1.3em;
        text-align: center;
      }
      h3{
        font-size: 2em;
        text-align: center;
      }
      .abt_watch{
        display: none;
      }
      .abt_video_group{
        background:white;
        width: 100%;
        box-shadow: none;
        padding: 0px;

      }
        .abt_video{
          width: 100%; 
          margin: auto;
          margin-bottom: 40px;
        }
        .abt_history{
         margin: 10px;
        }
      .abt_end{
        margin: 10px;
        width: 100%;
        
      }

      /* ---------------------------- */
      .about
        {
          
        }
        #slideshow {
          margin: auto;
          width: 100%;
        }
        .rectangle{
          display: flex;
          flex-wrap: wrap;
        }
        .inline{
          width: 100%;
        }
        .frame{
          width: 100%;
        }

        .abt_end_p{
          background: rgb(144,61,142);
          background: linear-gradient(138deg, rgba(144,61,142,1) 0%, rgba(219,99,130,1) 100%);
          box-shadow: 0px 11px 30px rgba(0, 0, 0, 0.438);
          color:white;
          max-width: 500px;
          margin: auto;
        }
        .abt_history p{
          background: rgb(144,61,142);
          background: linear-gradient(138deg, rgba(144,61,142,1) 0%, rgba(219,99,130,1) 100%);
          box-shadow: 0px 11px 30px rgba(0, 0, 0, 0.438);
          border-radius: 10px;
          padding: 10px;
          max-width: 500px;
          margin: auto;
          margin-top: 10px;
        }
      
      /* ---------------------------- */
     }