body {
	margin: 0;
	/*overflow: hidden;*/
	width:100%;
}

canvas {
	/*background-image: radial-gradient(#666, #333);*/
	width:100vw;
}

#overlay
{
	height: 100vh;
	width: 100vw;
	background-color: white;
	margin: 0px 0px ;
	transition: transform 0.5s ;
	position: fixed;
}



#counter
{
	
	color: black;
	text-align: center;
	margin:calc(50vh - 20px) auto;
	font-family: sans-serif;
	font-size: 2em;

}

.box{
	width: 100%;

}
.about{
	width: 200px;
	background-color: #DC6482;
	background-image: linear-gradient(to right,#DC6482, #CE4D95,#8E3C8E);
	margin: auto;
	color: white;
	font-family: sans-serif;
	text-align: center;
	border-radius: 10px;
	margin-top: 5px;
	padding: 5px;
}
.about a{
	color: white;
	text-decoration: none;
}


/*============================*/
/*animation*/
/*============================*/


.floating {  
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes floating {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 15px); }
    to   { transform: translate(0, -0px); }    
}
