body {
	margin: 0;
	overflow: hidden;
}

canvas {
	/*background-image: radial-gradient(#666, #333);*/
}

#overlay
{
	height: 100vh;
	width: 100vw;
	background-color: white;
	margin: 0px 0px ;
	transition: transform 0.5s ;
	position: fixed;
}



#counter
{
	
	color: black;
	text-align: center;
	margin:calc(50vh - 20px) auto;
	font-family: sans-serif;
	font-size: 2em;

}
