body {
    font: 400 15px/1.8 Lato, sans-serif;
    color: #777;
}
h3, h4 {

    padding: 2vw;
    color: #111;
}
.glyph{
    width: 3vw;
    
}



.navbar{

    background-color: #444444!important;

}
.navbar li a{

color: white!important;
}
.navbar-brand {
    color: white!important;
    font-size: 2vw;
}


footer {
    background-color: #2d2d30;
    color: #f5f5f5;
padding: 2vw;
}
footer a {
    color: #f5f5f5;
}
footer a:hover {
    color: #777;
    text-decoration: none;
}
.form-control {
    border-radius: 0;
}
textarea {
    resize: none;
}




/*mystyles*/


.prob h1{
    margin-top: 5vw;
 
}

.banner{
    height: 36vw;
    background-image: url("images/randall-bruder-136626-unsplash.jpg");
   background-size: cover;
    
    width: 100%;
    background-attachment: fixed;

}

.banner img{
    width: 30vw;
  text-align: center;
    margin-left: 35vw;
    margin-top: 16vw;
    margin-bottom: 4vw;
}

.description{
    background-color: #080b0f;
    color: white;
    text-align: center;
    height: 20vw;
}
.ques{
    font-size: 1.5vw;
    margin-bottom: -1vw;
}
footer{
    height: 5vw!important;

}
.img-1{
    width: 50vw!important;
    height: 39vw!important;

}
.img-2{
    width: 31vw!important;
    height: 12vw!important;}
.img-3{
    width:28vw!important;
    height: 14vw!important;

}
.img-4{
    height: 12vw!important;}

.img-5{
    margin-left:10vw;
    margin-top:6vw;
    height: 20vw!important;}


.sponsors{

    margin-top: 4vw;
}
.grabs h3{
    margin: 2vw;
    font-weight: 900;
}


#intro{
    margin-top: 4vw;
    background-color: #182530;
    height: 20vw;
    margin-bottom:4vw;
}
.attachment{
  
    
}
#intro p{
    color: white;
    font-size: 1.5vw;
    margin-top: 2vw;
}
#intro button{
    border-radius: 4vw;
    margin-top: 13vw;
    height: 3vw;
}
.but-1{
    margin-left: -65vw;
    margin-top: -.5vw!important;
    color: navy;
    width: 8vw;
    font-size: 1.2vw;
}
.but-2{
    margin-left: 3vw;
    color: navy;

}
.sec-section{
    margin-top: 20vw!important;
}


.rounded-circle {
    background-size: cover;
    width: 2vw!important;
}
.faq{
    margin-top: 10vw;
}
.faq li{
    font-size: 1.3vw;
}

.prob-statement{
    margin-bottom: 2vw;
}

#more {display: none;}
.rounded-circle{
    width: 20vw!important;
}

/*our sponsors formatting letter*/
.formatting{
    font-weight: 900;
    margin-left: 45vw;
    width: 20vw;
    border-bottom: .5vw solid grey;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .formatting {
        margin-left: 20vw;
        width: 50vw;

    }
    .description {
        height: 50vw;
    }
    .description h1{
        font-size: 9vw;
    }
    .sponsors h1{
        margin-top: 260vw;

    }
    #intro {
        margin-top: 9vw;
        height: 90vw;

    }
    #intro p {
        font-size: 5vw;
    }
    .but-1{
   
        width: 22vw;
        font-size: 4vw;
      
    }
    footer{
        height: 20vw!important;

    }
    

}




/*style for schedule*/
*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
ul.main {
    list-style: none;
    max-width: 75%;
    margin: 20px auto;
}
h3 {
    padding: 0;
    margin: 0;
}
.date {
    width: 17%;
    padding: 15% 1% 0 0;
    float: left;
}
.date h3 {
    font-size: 1.5em;
}
.date p {
    font-size: 0.8em;
}
.events {
    float: left;
    width: 80%;
    border-left: 1px solid #ccc;
    margin-top: 10%;
    padding-top: 3%;
}
.events-detail {
    max-width: 550px;
}
.events-detail li {
    padding: 10px;
    border-bottom: 1px dashed #ccc;
    line-height: 22px;
    transition: ease 0.4s all;
}
.events-detail li:hover {
    background: #e9e9e9;
}
.event-time {
    font-weight: 900;
}
.events-detail li a {
    text-decoration: none;
    color: #444;
    width: 100%;
    height: 100%;
    display: block;
}
.event-location {
    font-size: 0.8em;
    color: tomato;
    margin-left: 70px;
}
@media all and (max-width: 641px) {
    .date {
        width: 100%;
        border-bottom: 1px solid #ccc;
        margin-bottom: 10px;
    }
    .events {
        border: none;
        width: 100%;
        margin-top: 0;
    }
    .events-detail {
        padding: 0;
    }
    li.date p {
        margin: 0;
    }
    #intro button {
        border-radius: 4vw;
        margin-top: 3vw;
        height: 10vw;
    }

    .but-1 {
        margin-left: -6vw;
    }
    .navbar-brand {
        color: white!important;
        font-size: 8vw;
    }
    .navbar-light .navbar-toggler {
        color: rgba(245, 240, 240, 0.5);
        border-color: azure;
    }
    .faq li {
        font-size: 3.3vw;
    }
}
