.reg-events{
    margin-top: 10vw;
}
tr{
    color: white;
}
h2{
    color: white;
}
.loading{
    margin-top: 10vw;
    margin-left: 43vw;
    width:20vw
}

@media only screen and (max-width: 767px)
{
    .loading{
        margin-left: 25vw;
        width:50vw

    }


}